PORT=3004
MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-host>/?appName=Assignment-Cluster
INTERNAL_JWT_SECRET=replace-with-internal-service-secret
USER_JWT_SECRET=replace-with-user-jwt-secret
ALLOWED_ORIGINS=*
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=replace-with-smtp-user
SMTP_PASS=replace-with-smtp-pass
SMTP_FROM=no-reply@bookcorner.local
